:root {
    --white: #ffffff;
    --black: #0d0d0d;
    --dark-gray: #8c8c8c;
    --very-dark-gay: #696969;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
}


/*Styling button and menu and header */

.header {
    width: 100vw;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2020/04/02/14/03/virtual-reality-4995294_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-main {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .header-logo {
    width: 160px;
    height: 40px;
    background-image: url('https://svgshare.com/i/UMF.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header .header-logo a{
    display: inline-block;
    height: 100%;
    width: 100%;

}

.header .header-hamburger {
    width: 30px;
    height: 30px;
}

.ham {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    background-image: url('https://svgshare.com/i/UNt.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-nav {
    display: none;
}


.header-section-1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section-1-container {
    width: 90%;
    height: 40%;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    line-height: 4.5rem;
}

.h1 {
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
}


/* Main */

.main {
    width: 100vw;
}

.main-section-1 {
    width: 100%;
    height: 100vh;
}

.main-section-1-figure{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.main-section-1-figure img{
    width: 100%;
}

.main-section-1-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.h2 {
    color: var(--black);
    font-size: 2rem;
    line-height: 3rem;
}

.p {
    color: var(--dark-gray);
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    margin-top: 30px;
    line-height: 2.5rem;

}