:root {
    --white: #ffffff;
    --black: #0d0d0d;
    --dark-gray: #8c8c8c;
    --very-dark-gay: #696969;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
    overflow-x: hidden;
}


/*Styling button and menu and header */

.header {
    width: 100vw;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2020/04/02/14/03/virtual-reality-4995294_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-main {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .header-logo {
    width: 160px;
    height: 40px;
    background-image: url('https://svgshare.com/i/UMF.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header .header-logo a{
    display: inline-block;
    height: 100%;
    width: 100%;

}

.header .header-hamburger {
    width: 30px;
    height: 30px;
}

.ham {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    background-image: url('https://svgshare.com/i/UNt.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-nav {
    display: none;
}


.header-section-1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section-1-container {
    width: 90%;
    height: 40%;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    line-height: 4.5rem;
}

.h1 {
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
}


/* Main */

.main {
    width: 100vw;
}

.main-section-1 {
    width: 100%;
}

.main-section-1-figure{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.main-section-1-figure img{
    width: 100%;
}

.main-section-1-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.h2 {
    color: var(--black);
    font-size: 2rem;
    line-height: 3rem;
}

.p {
    color: var(--dark-gray);
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    margin-top: 30px;
    line-height: 2.5rem;
}

/* */

.main-section-2 {
    width: 100%;
    margin-top: 50px;
}

.main-section-container-h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.main-section-container-grid {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-gap: 15px;
}

/* Cells */
.grid-item {
    font-size: 1.8rem;
    line-height: 2.5rem;
    position: relative;
}

.h3 {
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 5%;
}


.cell-1 {
    background-image: url('https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg');
    background-size: cover;
}

.cell-2 {
    background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
    background-size: cover;
}

.cell-3 {
    background-image: url('https://images.unsplash.com/photo-1434648957308-5e6a859697e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    background-position: center bottom;
}

.cell-4 {
    background-image: url('https://images.unsplash.com/photo-1471479917193-f00955256257?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1748&q=80');
    background-size: cover;
    background-position: center;
}

.cell-5 {
    background-image: url('https://images.unsplash.com/photo-1510846606678-710c05a5c776?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');
    background-size: cover;
    background-position: center;
}

.cell-6 {
    background-image: url('https://images.unsplash.com/photo-1490280788303-5aa94899aa59?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80');
    background-size: cover;
    background-position: center bottom;
}

.cell-7 {
    background-image: url('https://images.unsplash.com/photo-1532779007449-43cd38f80988?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
}

.cell-8 {
    background-image: url('https://images.unsplash.com/photo-1598016696012-397dd55eb50d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1041&q=80');
    background-size: cover;
    background-position: center;
}

/* Button */
.main-section-2-button-container {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 90px;
    border: 2px solid var(--black);
}

.main-section-2--button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
    font-weight: bold;
    font-size: 1.5rem;
}

/* Footer */

.footer {
    width: 100vw;
    height: 70vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dark-gray);
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
}

.footer-logo-container {
    width: 100%;
    height: 40px;
    
}

.footer-logo {
    background-image: url('https://svgshare.com/i/UMF.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    height: 100%;
    margin: 0 auto;
}

.footer-nav {
    width: 70px;
    height: 50%;
}

.footer-nav-list-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer-nav-list-item  a {
    color: var(--white);
    text-decoration: none;
}

.footer-icons {
    width: 100%;
    height: 40px;
}

.footer-icons-list {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

